* {
  font-family: 'Roboto';
  color: white;
  font-weight: lighter;
  background-color: grey;
  text-align: center;
  text-decoration: none;
}

a:hover{
  opacity: 0.75;
}

/*space behind the top nav menu*/
header {
  background-color: grey;
  position: fixed;
  font-size: 1rem;
  width: 100%;
  /*margin: 2px auto;*/
  padding: 15px 5px;
  z-index: 1;
  /*background-color: transparent;*/
}

body{
  margin: 0px;
}

/* This set the Head title/background image */
.header {
  background-image: url("../images/coding.jpeg");
  background-position: center;
  background-size: cover;
  justify-content: space-around;
  height: 320px;
  padding: 10px 50px;
}

.code {
  font-family: monospace;
  background-color: black;
}

h1{
  font-family: monospace;
  font-weight:bold;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  color: skyblue;
  margin: 115px 50px;
  padding: 3px 100px;
  background-color: transparent;
}

h2{
  font-weight:lighter;
  text-align: center;
  color: skyblue;
}

/*
table{
      display: table;
      text-align: start;
      margin: 20px auto;
      border: 1px solid;
}
*/

.item{
    display: table;
    text-align: start;
    margin: 20px auto;
    border: 1px solid;
}


tr,td{
  padding: 2px 10px;
  border: 1px solid;
  text-align: left;
}

.home{
  margin-left: 950px;
  font-size: 0.8rem;
  background-color: transparent;
}

/* This formats the nav text menu at the top*/
nav span {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
  word-spacing: 2px;
  /*margin: 20px 0px;*/
  padding: 0 0.5%;
  color: white;
  background-color: transparent;
}

nav {
  display: inline;
  width: 180px;
  margin: 0;
  /*padding: 10px;*/
  background-color: transparent;
}

nav a {
  display: inline;
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
}
